.home {
  overflow-x: hidden;
  .carousel-inner {
    .carousel-item {
      img {
        height: 60%;
        object-fit: cover;
      }
      .background {
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.73;
        position: absolute;
        top: 0px;
      }
    }
  }

  .service {
    h2 {
      font-size: 40px;
      font-weight: bold;
    }
  }
  .feature {
    height: 200px;
    cursor: pointer;
  }
  .feature:hover {
    transform: scale(1.05);
    background-color: #1b1717;
    padding: 15px;
    border: 2px solid #ce1212;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
    transition-timing-function: linear;
    h3 {
      color: white !important;
    }
  }

  h2 {
    background-color: #1b1717;
    padding: 30px;
    color: white !important;
  }

  .feature-icon {
    background-color: #810000;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
  .carousel-caption {
    .star {
      color: #ffcc00;
    }
    h1 {
      font-size: 50px;
      span {
        font-size: 30px;
        color: #ce1212;
      }
    }
    h3 {
      color: white;
      text-shadow: 2px 2px 8px #ff0000;
      font-weight: bold;
      span {
        color: white;
        text-shadow: none;
        font-weight: 500;
      }
    }
  }
}
