.footer{
    background-color: #1b1717;
    color: white !important;
}

.icon {
    font-size: 40px;
  }
  p {
    color: #ce1212;

    span {
      color: white;
      font-size: 25px;
      font-weight: bold;
    }
  }

  .social-media{
    display: flex;
    gap: 10px;  
    font-size: 25px;
    margin-top: 20px;
    .social{
        transition: all .5s;
        cursor: pointer;
    }
    .social:hover{
      color: #ce1212;
    }


  }

  a{
      color: rgb(122, 115, 115) !important;
      text-decoration: none;
    }